/* App */
.header {
  display: flex;
  align-items: center;
}

.app-logo {
  display: flex;
  align-items: center;
}

.app-logo img {
  width: 100px;
}

.content {
  margin: 16px 16px 0;
}

.content-body {
  padding: 16px;
  min-height: calc(100vh - 128px);
}

/* Auth */
.auth-header {
  margin-bottom: 32px;
  text-align: center;
}

.auth-logo {
  max-width: 150px;
}

.auth-footer {
  text-align: center;
  width: 100%;
}

/* Utils */
.flex-box {
  min-height: 100vh;
}

.align-center {
  text-align: center;
}

.m-16 {
  margin: 16px;
}

.mt-10 {
  margin-top: 10px;
}

.pt-20 {
  padding-top: 16px;
}

.minh-100 {
  min-height: 100vh;
}